body{
  background-color: white;
  margin: 0;
}
header{
  background-color: #606c38;
  min-height: 200px;
  width:100%;
}
.col-1{
  background-color: #283618;
  min-height: 200px;
  width:25%;
  float:left;
}
.col-2{
  background-color: #7f5539;
  min-height: 200px;
  width:25%;
  float:left;
}
.col-3{
  background-color: #dda15e;
  min-height: 200px;
  width:25%;
  float:left;
}
.col-4{
  background-color: #bc6c25;
  min-height: 200px;
  width:25%;
  float:left;
}
.row{
  min-height: 25px;
  width: 100%;
  clear:both;
  background-color: #fefae0;
}
footer{
  background-color: #606c38;
  min-height: 200px;
  width:100%;
  clear:both;
}
