body{
  margin: 0;
  background-color: #333D29;
  font-family: 'Playfair Display', serif;
  font-size: 1.25rem;
  line-height: 1.4;
  width: 100%
}
/*TYPOGRAPHY AND COLOR*/
h1{
  color: #C2C5AA;
  font-size: 3.052rem;
  margin-bottom: 0;
}
h2{
  color: #333D29;
  font-size: 1.953rem;
}

/* POSITIONING */
#decor-container{
  width:70%;
  margin: auto;
  background-color: #936639;
}
#container{
  width: 95%;
  display: block;
  margin: auto;
  background-color: #936639;
  padding:0 15px;
  border-style:2px solid none;
  border-color: #333D29;
}
/*testing out image example from W3 Schools*/
/*link to that test: https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_background_hero*/
header{
  width: 90%;
  background-color: #936639;
  padding: 5%;
}
#headinginfo {
  color: #A4AC86;
}
#ingredients{
  background-color: #A4AC86;
  color: #333D29;
  width: 45%;
  float: left;
  padding: 1% 2%;
  border-radius: 25px;
  margin-bottom: 20px;
}
#image{
  width: 45%;
  float: left;
  padding: 5%;
  border-radius: 25px;
  margin-bottom: 20px;
}
#instructions{
  background-color: #A4AC86;
  color: #333D29;
  width: 95%;
  float: left;
  clear:both;
  padding: 1% 2%;
  border-radius: 25px;
}
footer{
  text-align: center;
  clear: both;
  margin: 10 px;
}
/* mobile set up*/
@media only screen and (max-width: 600 px){
  header{
    width:95%;padding:2%;
  }
  #headinginfo{
    width:90%;
    padding:5%;
  }
  #ingredients{
    width:95%;
    padding:5%;
  }
  #instructions{
    width:100%;
    padding:5%;
    border-top: 2px dashed #333D29;
  }
  article{
    width:100%;
    padding:5%;
  }
}
